

build/
CommonLib/bin/
CommonLib/obj/
DAL/binDAL/obj/
Rules/bin/
Rules/obj/
SBSchoolSetup/debug/
SBSchoolSetup/release/
SMOScripting/bin/
SMOScripting/obj/
WinSBSchool/bin/
WinSBSchool/obj/



*.pbd
*.exe
*.msi
*.temp
*.cache





