<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="SBSchoolDBEntities" connectionString="metadata=res://*/SBSchoolDBEntities.csdl|res://*/SBSchoolDBEntities.ssdl|res://*/SBSchoolDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=SBSchoolDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <add name="RuleSetStoreConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SBSchoolDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="DestinationConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SBSchoolDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="LOGFILENAME" value="Logs\\log.log"/>
    <add key="ERRORLOGFILENAME" value="Logs\\error.log"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Comm_Port" value="5" />
    <add key="Comm_BaudRate" value="460800" />
    <add key="Comm_TimeOut" value="5000" />
    <!--trial period days-->
    <add key="TRIAL_PERIOD" value="370" />
    <!--no of seconds to wait till execute long running function to collect extra info-->
    <add key="COLLECT_EXTRAS_SECONDS_COUNTA" value="60" />
    <!--maximum number of the message characters to send-->
    <add key="MAX_MSG_LENGTH" value="0" />
    <!--number of characters to use in license key-->
    <add key="NO_OF_CHARACTERS_IN_LICENSE_KEY" value="32" />
    <add key="WEB_VERSION_URL" value="http://localhost:6900/" />
    <add key="UPLOAD_DOWNLOAD_WIZARD_FILE_NAME" value="C:\Program Files\Microsoft SQL Server\110\DTS\Binn\DTSWizard.exe" />
    <add key="mssql_datasource" value=".\SQLEXPRESS"/>
    <add key="mssql_database" value="SBSchoolDB"/>
    <add key="mssql_userid" value="sa"/>
    <add key="mssql_password" value="123456789"/>
    <add key="NO_OF_RECORDS_PER_PAGE" value="10" />
    <add key="NO_OF_PAGES_TO_DISPLAY" value="10" />
    <add key="NO_OF_CHARACTERS_IN_TRANSACTION_REFERENCE_NO" value="10" />
    <add key="APP_NAME" value="Soft Books School"/>
  </appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

</configuration>
